# Coleta de Dados no MySQL utilizando o Python

#### Para mais detalhes sobre o pacote mysql.connector consulte:
* https://www.w3schools.com/python/python_mysql_getstarted.asp

In [1]:
import mysql.connector

Para instalação do pacote, execute o comando abaixo no prompt do Anaconda:
* conda install -c anaconda mysql-connector-python

#### Conectar ao MySQL Server sem selecionar um banco de dados

In [2]:
mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password='igti'
)

print(mydb)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for db in mycursor:
    print(db)

#Para criar um banco de dados use o comando abaixo
#mycursor.execute("CREATE DATABASE mydatabase")

<mysql.connector.connection.MySQLConnection object at 0x000001F93231D908>
('bootcamp',)
('fed_dw_final',)
('igtidb_20.1',)
('imobiliaria',)
('information_schema',)
('knime',)
('mysql',)
('new_db_name',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

#### Conectar ao MySQL Server sem selecionar um banco de dados

In [12]:

mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password='igti',
    database='bootcamp'
)

print(mydb)

mycursor = mydb.cursor()

<mysql.connector.connection.MySQLConnection object at 0x000001F932346160>

In [4]:
mycursor.execute("SHOW TABLES")

for db in mycursor:
    print(db)

('caracteristicasgerais',)
('cidade',)
('estado',)
('imovel',)
('tipounidade',)

In [5]:
#Criar uma tabela

mycursor.execute ("CREATE TABLE caracteristicageralimovel (\
  idCaracteristicasImovel int NOT NULL AUTO_INCREMENT,\
  idcaracteristicasGerais int NOT NULL,\
  idImovel int NOT NULL,\
  temCaracteristica tinyint DEFAULT NULL,\
  PRIMARY KEY (idCaracteristicasImovel),\
  KEY fk_caracteristicasGerais_has_Imovel_Imovel1_idx (idImovel),\
  KEY fk_caracteristicasGerais_has_Imovel_caracteristicasGerais1_idx (idcaracteristicasGerais),\
  CONSTRAINT fk_caracteristicasGerais_has_Imovel_caracteristicasGerais1 FOREIGN KEY (idcaracteristicasGerais)\
                  REFERENCES caracteristicasgerais (idcaracteristicasGerais),\
  CONSTRAINT fk_caracteristicasGerais_has_Imovel_Imovel1 FOREIGN KEY (idImovel) REFERENCES imovel (idImovel)\
)")

In [6]:
mycursor.execute("SHOW TABLES")

for db in mycursor:
    print(db)

('caracteristicageralimovel',)
('caracteristicasgerais',)
('cidade',)
('estado',)
('imovel',)
('tipounidade',)

In [7]:
query = "INSERT INTO caracteristicasgerais (idcaracteristicasGerais, dsccaracteristicasGerais) VALUES (%s, %s)"
values = (1, "Portaria 24 horas")
mycursor.execute(query, values)

mydb.commit()

print(mycursor.rowcount, "registro(s) inserido(s).")

1 registro(s) inserido(s).

In [8]:
#Inserindo multiplos valores
values = [(2, "Elevador"),(3,"Piscina")]

mycursor.executemany(query, values)

mydb.commit()

print(mycursor.rowcount, "registro(s) inserido(s).")

2 registro(s) inserido(s).

In [9]:
mycursor.execute("SELECT * FROM caracteristicasgerais")

myresult = mycursor.fetchall()

for mydata in myresult:
    print(mydata)

(1, 'Portaria 24 horas')
(2, 'Elevador')
(3, 'Piscina')

In [10]:
mycursor.execute("SELECT idcaracteristicasGerais, dsccaracteristicasGerais FROM caracteristicasgerais")

myresult = mycursor.fetchone()

print(myresult)

(1, 'Portaria 24 horas')

In [13]:
import csv

#Leitura de arquivo sem utilizar biblioteca Pandas

filename = 'C:\Bootcamp\Datasets\CSV\cidades.csv'

with open(filename, 'r') as incsvfile:
    reader = csv.reader(incsvfile, delimiter=',')
    next(reader, None)  # skip the headers
    for line in reader:       
        #print(line)
        #print(line[1])
        mycursor.execute ("INSERT INTO cidade (CodigoCompletoIBGE, CodigoCidadeIBGE,NomeCidade, CodEstadoIBGE)\
                  VALUES (%s, %s, %s, %s)",line)        
mydb.commit()

print(mycursor.rowcount, "registro(s) inserido(s).")

#db.close()
incsvfile.close()

1 registro(s) inserido(s).

In [14]:
mycursor.execute("SELECT count(*) FROM cidade")

myresult = mycursor.fetchone()

print(myresult)

(5570,)

In [16]:
mydb.close()

In [17]:
mycursor.execute("SELECT count(*) FROM cidade")

OperationalError: 2055: Lost connection to MySQL server at 'localhost:3306', system error: 10038 An operation was attempted on something that is not a socket