# Coleta de Dados no MySQL utilizando o R

#### Para mais detalhes sobre a biblioteca RMariaDB consulte:
* https://cran.r-project.org/web/packages/RMariaDB/RMariaDB.pdf

In [1]:
#importação do pacote

#Importa pacote RMariaDB se ele ainda não foi carregado
if(!"RMariaDB" %in% (.packages())){require(RMariaDB)}

Loading required package: RMariaDB
Warning message:
"package 'RMariaDB' was built under R version 3.6.3"

In [2]:
#Conecta ao SGBD MySQL --> Banco de dados bootcamp
con <- dbConnect(MariaDB(), user = "root", password = "igti",
                 dbname = "bootcamp", host = "localhost",serverTimezone='UTC')

**OBS:** Caso ocorra o erro abaixo: 
*Error: Failed to connect: Plugin caching_sha2_password could not be loaded: The specified module could not be found.*

Acesse seu SGBD MySQL Server utilizando o MySQL Workbench e execute o comando abaixo no seu esquema de BD

    ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'igti';

Agora execute o comando de conexão novamente.

In [4]:
#Para listar quais tabela existem no esquema .bootcamp. execute:

#Lê a lista de tabelas no BD
tables <- dbListTables(con) 
tables

[1] "cidade"      "estado"      "imovel"      "tipounidade"

In [5]:
#Para consultar quais os dados de uma tabela execute:
# dbReadTable(nome-da-conexao,"nome-da-tabela")

#Consulta os dados da tabela *estado*
tabledata <- dbReadTable(con,"estado")
tabledata

     CodEstadoIBGE NomeEstado SiglaEstado Regiao

In [6]:
#Consulta os dados da tabela *cidade*
tabledata <- dbReadTable(con,"cidade")
tabledata

     CodigoCompletoIBGE CodigoCidadeIBGE NomeCidade CodEstadoIBGE

In [7]:
#Consulta os dados da tabela *imovel*
tabledata <- dbReadTable(con,"imovel")
tabledata

     idImovel codRegistro Disponibilidade idTipoUnidade areaImovel valorIPTU
     valorCondominio qtdeQuartos qtdeBanheiro qtdeSuite qtdeSala qtdeVagas
     CodigoCompletoIBGE

**OBS:** Veja que o resultado dos três últimos comando acima demonstra que as tabela não possuem dados.

In [8]:
#Consulta os dados da tabela *tipounidade*
tabledata <- dbReadTable(con,"tipounidade")
tabledata

  idTipoUnidade dscTipoUnidade
1 1             Casa
2 2             Casa geminada
3 3             Apartamento tipo
4 4             Apartamento cobertura
5 5             Apartamento área privativa
6 6             Flat

In [9]:
#Para executar um comando SQL execute:
#dbSendQuery(nome-da-conexao,"comando")

# Vamos inserir uma nova linha na tabela tipounidade
# Cria o comando e salva na variável query
query <-  "INSERT INTO tipounidade(idTipoUnidade,dscTipoUnidade) VALUES(7,'Loft');"

# Opcional.
print(query)

results <- dbSendQuery(con,query)
results

# Limpa resultados
dbClearResult(results)

[1] "INSERT INTO tipounidade(idTipoUnidade,dscTipoUnidade) VALUES(7,'Loft');"

<MariaDBResult>
  SQL  INSERT INTO tipounidade(idTipoUnidade,dscTipoUnidade) VALUES(7,'Loft');
  ROWS Fetched: 0 [complete]
       Changed: 1

**OBS 1:** Caso ocorra o erro: *Error: Duplicate entry '6' for key 'tipounidade.PRIMARY' [1062]*

Isso significa que você violou a chave primária, ou seja, tentou inserir uma chave que já existe. Confira o valor da chave que esta inserindo, altere, e execute novamente.

**OBS 2:** Caso ocorra o erro: *Error: Column count doesn't match value count at row 1 [1136]*
Isso significa que você esta inserindo dados não compatíveis com a definição da tabela.

In [10]:
#Consulta os dados da tabela *tipounidade*
tabledata <- dbReadTable(con,"tipounidade")
tabledata

  idTipoUnidade dscTipoUnidade
1 1             Casa
2 2             Casa geminada
3 3             Apartamento tipo
4 4             Apartamento cobertura
5 5             Apartamento área privativa
6 6             Flat
7 7             Loft

In [11]:
id <- 8
desc <- 'Chácara'

query <-  paste("INSERT INTO tipounidade(idTipoUnidade,dscTipoUnidade) VALUES(",id,",'",desc,"');",sep='')

# Opcional.
print(query)

results <- dbSendQuery(con,query)
results

# Limpa resultados
dbClearResult(results)

[1] "INSERT INTO tipounidade(idTipoUnidade,dscTipoUnidade) VALUES(8,'Chácara');"

<MariaDBResult>
  SQL  INSERT INTO tipounidade(idTipoUnidade,dscTipoUnidade) VALUES(8,'Chácara');
  ROWS Fetched: 0 [complete]
       Changed: 1

In [12]:
#Consulta os dados da tabela *tipounidade*
tabledata <- dbReadTable(con,"tipounidade")
tabledata

  idTipoUnidade dscTipoUnidade
1 1             Casa
2 2             Casa geminada
3 3             Apartamento tipo
4 4             Apartamento cobertura
5 5             Apartamento área privativa
6 6             Flat
7 7             Loft
8 8             Chácara

In [13]:
#install.packages('xlsx')

#Importa pacote xlsx se ele ainda não foi carregado
if(!"xlsx" %in% (.packages())){require(xlsx)}

datasetpath <- 'C:/Bootcamp/Datasets/XLS'

filename <- paste(datasetpath,"/estados.xlsx",sep='')
filename

insertdata <- read.xlsx(filename, sheetIndex=1, header=TRUE,encoding="UTF-8")
insertdata
#sampleGardenData

Loading required package: xlsx
Warning message:
"package 'xlsx' was built under R version 3.6.3"

[1] "C:/Bootcamp/Datasets/XLS/estados.xlsx"

   CodEstadoIBGE nomeestado          siglaestado regiao
1  11            Rondónia            RO          Norte
2  12            Acre                AC          Norte
3  13            Amazonas            AM          Norte
4  14            Roraima             R           Norte
5  15            Pará                PA          Norte
6  16            Amapá               AP          Norte
7  17            Tocantins           TO          Norte
8  21            Maranhão            MA          Nordeste
9  22            Piauí               PI          Nordeste
10 23            Ceará               CE          Nordeste
11 24            Rio Grande do Norte RN          Nordeste
12 25            Paraíba             PB          Nordeste
13 26            Pernambuco          PE          Nordeste
14 27            Alagoas             AL          Nordeste
15 28            Sergipe             SE          Nordeste
16 29            Bahia               BA          Nordeste
17 31            Minas Gerais        MG          Sudeste
18 32            Espírito Santo      ES          Sudeste
19 33            Rio de Janeiro      RJ          Sudeste
20 35            São Paulo           SP          Sudeste
21 41            Paraná              PR          Sul
22 42            Santa Catarina      SC          Sul
23 43            Rio Grande do Sul   RS          Sul
24 50            Mato Grosso do Sul  MS          Centro-Oeste
25 51            Mato Grosso         MT          Centro-Oeste
26 52            Goiás               GO          Centro-Oeste
27 53            Distrito Federal    DF          Centro-Oeste

**OBS:** As colunas da tabela estado são: *CodEstadoIBGE,NomeEstado,SiglaEstado,Regiao*

In [14]:
dbWriteTable(con,'estado',insertdata,append = TRUE)

In [15]:
#Consulta os dados da tabela *estado*
tabledata <- dbReadTable(con,"estado")
tabledata

   CodEstadoIBGE NomeEstado          SiglaEstado Regiao
1  11            Rondónia            RO          Norte
2  12            Acre                AC          Norte
3  13            Amazonas            AM          Norte
4  14            Roraima             R           Norte
5  15            Pará                PA          Norte
6  16            Amapá               AP          Norte
7  17            Tocantins           TO          Norte
8  21            Maranhão            MA          Nordeste
9  22            Piauí               PI          Nordeste
10 23            Ceará               CE          Nordeste
11 24            Rio Grande do Norte RN          Nordeste
12 25            Paraíba             PB          Nordeste
13 26            Pernambuco          PE          Nordeste
14 27            Alagoas             AL          Nordeste
15 28            Sergipe             SE          Nordeste
16 29            Bahia               BA          Nordeste
17 31            Minas Gerais        MG          Sudeste
18 32            Espírito Santo      ES          Sudeste
19 33            Rio de Janeiro      RJ          Sudeste
20 35            São Paulo           SP          Sudeste
21 41            Paraná              PR          Sul
22 42            Santa Catarina      SC          Sul
23 43            Rio Grande do Sul   RS          Sul
24 50            Mato Grosso do Sul  MS          Centro-Oeste
25 51            Mato Grosso         MT          Centro-Oeste
26 52            Goiás               GO          Centro-Oeste
27 53            Distrito Federal    DF          Centro-Oeste

In [16]:
#Importa pacote xlsx se ele ainda não foi carregado
if(!"xlsx" %in% (.packages())){require(xlsx)}

query <- "SELECT * FROM estado;"

# Opcional.
#print(query)

results <- dbGetQuery(con,query)
results

   CodEstadoIBGE NomeEstado          SiglaEstado Regiao
1  11            Rondónia            RO          Norte
2  12            Acre                AC          Norte
3  13            Amazonas            AM          Norte
4  14            Roraima             R           Norte
5  15            Pará                PA          Norte
6  16            Amapá               AP          Norte
7  17            Tocantins           TO          Norte
8  21            Maranhão            MA          Nordeste
9  22            Piauí               PI          Nordeste
10 23            Ceará               CE          Nordeste
11 24            Rio Grande do Norte RN          Nordeste
12 25            Paraíba             PB          Nordeste
13 26            Pernambuco          PE          Nordeste
14 27            Alagoas             AL          Nordeste
15 28            Sergipe             SE          Nordeste
16 29            Bahia               BA          Nordeste
17 31            Minas Gerais        MG          Sudeste
18 32            Espírito Santo      ES          Sudeste
19 33            Rio de Janeiro      RJ          Sudeste
20 35            São Paulo           SP          Sudeste
21 41            Paraná              PR          Sul
22 42            Santa Catarina      SC          Sul
23 43            Rio Grande do Sul   RS          Sul
24 50            Mato Grosso do Sul  MS          Centro-Oeste
25 51            Mato Grosso         MT          Centro-Oeste
26 52            Goiás               GO          Centro-Oeste
27 53            Distrito Federal    DF          Centro-Oeste

In [17]:
#Salvar o resultado da query no arquivo CSV
write.csv(results,"C:/Bootcamp/Datasets/CSV/estadosDB.csv",row.names=FALSE,quote=FALSE)

#dbCommit(con)

In [18]:
#Criar uma tabela vazia
query <- "CREATE TABLE caracteristicasgerais (
                idcaracteristicasGerais int NOT NULL AUTO_INCREMENT,
                dsccaracteristicasGerais varchar(150) NOT NULL,
                PRIMARY KEY (idcaracteristicasGerais));"


results <- dbSendQuery(con,query)
results

tables <- dbListTables(con) 
tables

<MariaDBResult>
  SQL  CREATE TABLE caracteristicasgerais (
                idcaracteristicasGerais int NOT NULL AUTO_INCREMENT,
                dsccaracteristicasGerais varchar(150) NOT NULL,
                PRIMARY KEY (idcaracteristicasGerais));
  ROWS Fetched: 0 [complete]
       Changed: 0

Warning message in result_create(conn@ptr, statement, is_statement):
"Cancelling previous query"

[1] "caracteristicasgerais" "cidade"                "estado"
[4] "imovel"                "tipounidade"

In [19]:
# Desconectar do banco de dados
dbDisconnect(con)